body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* form {
  display: grid;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
} */

/* #results-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
} */

#search-form {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 50px; /* Add margin from top */
  padding: 0 10px;
}

/* Style the search input box */
#search-input {
  border: 1px solid #dfe1e5; /* Set border color */
  border-radius: 24px; /* Set border radius to make it round */
  font-size: 16px; /* Set font size */
  padding: 12px 16px; /* Set padding */
  width: 400px; /* Set width of the input box */
}

/* Style the search button */
#submit-btn,
#clear-btn {
  background-color: #4285f4; /* Set background color */
  border: none; /* Remove border */
  border-radius: 24px; /* Set border radius to make it round */
  color: #fff; /* Set text color */
  font-size: 16px; /* Set font size */
  padding: 12px 16px; /* Set padding */
  margin-left: 10px; /* Add margin to separate from input box */
}

/* Change color of button on hover */
#submit-btn:hover {
  background-color: #357ae8;
}

/* Change color of button on click */
#submit-btn:active {
  background-color: #2962ff;
}

.header--js {
  text-align: center;
  color: #fff; /* Set text color */
  font-size: 18px;
  background-color: #4285f4;
  padding: 8px 20px;
  margin: 1rem 15rem;
  border-radius: 10px;
  min-width: fit-content;
}

.categories--div {
  display: flex;
  justify-content: center;
  columns: 2;
  column-gap: 0.25em;
  padding: 8px 20px;
  color: #fff; /* Set text color */
  font-size: 14px;
  background-color: #4285f4;
  border-radius: 10px;
  margin: 3px 15px;
}

.categories--list--js {
  text-align: center;
}

.description--js {
  text-align: center;
  padding: 8px 20px;
  margin: 0 15px;
  color: #fff; /* Set text color */
  font-size: 20px;
  background-color: #4285f4;
  border-radius: 10px;
}

.quality--life--js {
  display: flex;
  justify-content: center;
}

.quality--percentage--js {
  text-align: center;
  padding: 8px 20px;
  color: #fff; /* Set text color */
  font-size: 16px;
  background-color: #4285f4;
  border-radius: 10px;
  margin: 5px 15px;
}

/* #delete-btn {
  display: none;
} */
@media only screen and (max-width: 600px) {
  #search-input {
    width: 80%; /* Make the input box full width */
    margin-bottom: 10px; /* Add some space below the input box */
  }

  #submit-btn,
  #clear-btn {
    margin-left: 0; /* Remove the margin between the buttons */
    margin-bottom: 10px; /* Add some space below the buttons */
  }

  #results-list {
    padding: 10px; /* Add some padding to the results list */
  }

  .categories--div {
    flex-direction: column; /* Stack the categories vertically */
  }

  .quality--life--js {
    flex-direction: column; /* Stack the quality of life components vertically */
  }
}
